*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contents {
    background-color: burlywood;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btnProvande {
    background-color: white;
    height: 50px;
    width: 150px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btnProvande:hover {
    background-color: gray;
    border: 1px solid gray;
    color: white;

}

.link {
    text-decoration: none;
}